<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.indonesiainvestorclub"
    android:installLocation="auto">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
      android:name="com.project.indonesiainvestorclub.IndonesiaInvestorClub"
      android:allowBackup="true"
      android:fullBackupContent="true"
      android:icon="@mipmap/ic_investorclub"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_investorclub"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true"
      tools:targetApi="m">
    <activity
        android:name="com.project.indonesiainvestorclub.views.SplashActivity"
        android:configChanges="keyboard"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="indonesiainvestorclub" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.alfacart.alfamikroapp.loginReq" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.project.indonesiainvestorclub.views.MainActivity"
        android:label="@string/title_activity_main"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name="com.project.indonesiainvestorclub.views.ProfileFragment" />
    <activity android:name="com.project.indonesiainvestorclub.views.AgreementFragment" />
    <activity android:name="com.project.indonesiainvestorclub.views.NetworkFragment" />
    <activity android:name="com.project.indonesiainvestorclub.views.TransactionsFragment" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.LogoutActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.project.indonesiainvestorclub.views.FundsFragment" />
    <activity android:name="com.project.indonesiainvestorclub.views.InvestActivity" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.SignUpActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.ProfileEditActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.AboutFragment"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.UpdateImageProfileActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.UpdateImageProofOfIDActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.UpdateImageProofOfBankActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name="com.project.indonesiainvestorclub.views.UpdateImageTransferActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
  </application>

</manifest>